* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.4em;
	line-height: 1.5em;
	font-family: "Comic Sans MS", sans-serif;
}

main {
	display: flex;
	gap: 14px;
	margin-inline: auto;
	padding: 8px;
	max-width: 900px;
}

textarea {
	flex: 1;
	border-width: 1px;
	border-color: #716a75;
	padding: 0 10px;
	height: 500px;
	min-height: 140px;
	resize: vertical;
	font: inherit;
}

textarea:focus {
	outline: 2px solid #716a75;
}

.output {
	border: #716a75 1px solid;
	padding: 18px;
	width: 220px;
}

@media (width <= 800px) {
	main {
		flex-direction: column;
		height: 100dvh;
	}

	textarea {
		order: 1;
		width: 100%;
		height: 100%;
		resize: none;
	}

	.output {
		width: 100%;
	}
}
